body{
  margin: 0;
  padding-top:4.7rem;
}
.header{
  background-color: rgba(226, 224, 224, 0.849);
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(201, 200, 200, 0.849);
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  
}

.Title{
  /* background-color: white; */
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.Title img{
  width: 30PX;
  margin-right: 2px;
}
.Title h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}
.li{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: rgba(255, 255, 255, 0.795); */
  margin-left: 10rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 18px;
  
}
.li li{
  margin-left: 22px;
  list-style: none;
  
}
.li li a{
  text-decoration: none;
  color: green;
}
.number{
  margin-left: 9rem;
  display: flex;
  align-items: center;
  position: relative;
}
.number img{
  width: 20px;
}
.number a{
  color: green;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.number .but:hover p{
  opacity: 1;
}
.number .but{
  background-color: rgba(226, 224, 224, 0.849);
  align-items: center;
  border-radius: 5px;
  padding: 2px;
  border: none;
  cursor: pointer;
  margin-right: 7px;
  /* transition: 1ms; */
  
}

.number .but p{
  opacity: 0;
  white-space: nowrap;
  right: 2rem;
  margin: 0;
  /* width: 10px; */
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px;
  position: absolute;
  bottom: -2px;
  border-radius: 2px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 1s;
  pointer-events: none;
}
.parent{
  /* top: 0px; */
  /* margin-top: 0px; */
  background-color:  #313e3b;
  height: 35rem;
  display: flex;
  border-bottom:3px solid #202b28;
}
.text{
  /* background-color: red; */
  display: inline-block;
  margin-top: 8.5rem;
  margin-left: 6rem;
}
.text h1{
  font-size: 38px;
  font-weight:bolder;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text .pi{
  color: #a0a3a3;
  font-weight: bold;
}
.text .get{
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 1.2rem;
  width: 10rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: bold;
  color:  #202b28;
  background-color: yellowgreen;
}
hr{
  width: 7rem;
  margin-left: -1rem;
  color: yellowgreen;
  /* background-color: yellowgreen; */
}
.MA{
  align-items: center;
  display: flex;
  /* background-color: green; */
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: -1rem;
}
.MA main{
  font-size: 1.3rem;
  font-weight: bold;
  color: white;

}

.peg{
  /* background-color: red; */
  margin-left: 15rem;
  display: inline-block;

}
.peg img{
  margin-top: -7px;
}
.container{
  background-color: rgb(248, 248, 248);
  /* height: 100px; */
  display: flex;
  padding-top: 7rem;
}
.container .card1{
display: inline-block;
/* background-color: blue; */
margin-left: 5rem;
margin-right: 4rem;
}
.container .card2{
  display: block;
  /* background-color: green; */
  margin-left: 15rem;
  padding-top: 4rem;
}
.container .card2b{
  /* background-color: pink; */
  margin-top: 9rem;
}
.container .card3{
  display: inline-block;
  /* background-color: black; */
  margin-left: 5rem;
  padding-top: 12rem;
}
.container .card1 .h5{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #202b28;
  font-size: 1rem;
}

.container .card1 h1{
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #313e3b;
  font-size: 3rem;
  margin-top: -12px;

}

.container .card1 .ton{
  padding: 1rem;
  width: 9rem;
  background-color:  #313e3b;
  border-radius: 2rem;
  border: none;
  color: white;
  margin-top: -1rem;
}
.container .card1 .ton a{
  color: white;
  text-decoration: none;
}

.card1 .prof{
  /* background-color: goldenrod; */
  display: flex;
  align-items: center;
  margin-top: 6rem;
}
.card1 .prof .imm{
  width: 4rem;
  background-color: white;
  border-radius: 2rem;
  border: 4px solid rgb(218, 217, 217);
}
.card1 .prof .il{
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 2rem;
  border: 4px solid rgb(218, 217, 217);
  margin-left: -8px;
  margin-right: 16px;
 
}
.card1 .prof p{
  color: #303f3b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card1 .prof a{
  color: #313e3b;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2 .card2a h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#a8a8a8 ;
  font-size: 4rem;
  opacity: 0.3;
}

.card2 .card2a h2{
  margin-top: -4.5rem;
  margin-left: 1.8rem;
  color:  #313e3b;
  font-weight: bold;
}
.card2 .card2a p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1.8rem;
  color: #303f3b;
  font-weight: 400;
  margin-top: -1rem;
}
.card2 .card2a hr{
  width: 4.5rem;
  margin-left: 1.9rem;
  margin-top: 2rem;
}

 .card2 .card2b h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#a8a8a8 ;
  font-size: 4rem;
  opacity: 0.3;
 }

 .card2 .card2b h2{
  margin-top: -4.5rem;
  margin-left: 1.8rem;
  color:  #313e3b;
  font-weight: bold;
}
.card2 .card2b p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1.8rem;
  color: #303f3b;
  font-weight: 400;
  margin-top: -1rem;
}
.card2 .card2b hr{
  width: 4.5rem;
  margin-left: 1.9rem;
  margin-top: 2rem;
}

.card3 .card3b h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#a8a8a8 ;
  font-size: 4rem;
  opacity: 0.3;
 }

 .card3 .card3b h2{
  margin-top: -4.5rem;
  margin-left: 1.8rem;
  color:  #313e3b;
  font-weight: bold;
}
.card3 .card3b p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1.8rem;
  color: #303f3b;
  font-weight: 400;
  margin-top: -1rem;
}
.card3 .card3b hr{
  width: 4.5rem;
  margin-left: 1.9rem;
  margin-top: 2rem;
}

.container2{
  background-color: rgb(243, 248, 248);
  /* margin-top: -3px; */
  
}
.container2 .div1{
  display: flex;
  align-items: center;
}

.container2 .div1 h2{
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color:  #313e3b;
  margin-left: 8rem;
}

.container2 .div1 .lk{
  margin-left: 8rem;
  display: flex;
  list-style: none;
  
  
}
.container2 .div1 .lk a{
  color: #47504e;
  margin-left: 3.5rem;
  text-decoration: none;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.container2 .div1 .lk a:hover{
  text-decoration:solid  3px underline;
}
.container2 .div1 li:first-child{
  text-decoration:solid  3px #313e3b underline;
}
.div2{
  position: relative;
  background-color: rgb(243, 248, 248);
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  /* margin-left: 2rem; */
  align-items: center;
  padding-left: 8rem;
  padding-top: 5rem;
  /* width: 90rem; */
}
.div2 .car1{
  margin-bottom: 6rem;
  /* background-color: aliceblue; */
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  /* box-shadow: 1px 1px 1px 1px black; */
  /* width: 30rem; */
  /* height: 13rem; */
}
.car1 .ca{
  background-color: white;
  width: 21.5rem;
  height: 28rem;
  margin-right: 2rem;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 10px rgb(206, 204, 204);
}

.div2 .car2{
  /* margin-left: 6.2rem; */
  position: relative;
  /* background-color: aliceblue; */
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  

  /* box-shadow: 1px 1px 1px 1px black; */
  /* width: 70rem; */
  /* height: 13rem; */
}
.car2 .a{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: black; */
  letter-spacing: 3px;
  font-size: 1.5rem;
  color: #8d8c8c ;
  opacity: 0.9;
  color: white;
  top: 0;
  margin-top: -5rem;
  left: 0;
  right: 0;
  text-align: center;

}
.car2 .ca{
  background-color: white;
  width: 21.5rem;
  height: 28rem;
  margin-right: 2rem;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 10px rgb(206, 204, 204);
}

.div2 .car3{
  margin-bottom: 6rem;
  position: relative;
  /* background-color: aliceblue; */
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  /* box-shadow: 1px 1px 1px 1px black; */
  /* width: 70rem; */
  /* height: 13rem; */
}

.car3 .a{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: black; */
  letter-spacing: 3px;
  font-size: 1.5rem;
  color: #8d8c8c  ;
  opacity: 0.9;
  color: white;
  top: 0;
  margin-top: -5rem;
  left: 0;
  right: 0;
  text-align: center;
}
.car3 .ca{
  background-color: white;
  width: 21.5rem;
  height: 28rem;
  margin-right: 2rem;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 10px rgb(206, 204, 204);
}

.div2 .car4{
  margin-bottom: 6rem;
  position: relative;
  /* background-color: red; */
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  /* box-shadow: 1px 1px 1px 1px black; */
  /* width: 70rem; */
  /* height: 13rem; */}

  .car4 .a{
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: #8d8c8c  ;
    opacity: 0.9;
    color: white;
    top: 0;
    margin-top: -5rem;
    left: 0;
    right: 0;
    text-align: center;}

.car4 .ca{
  box-shadow: 5px 5px 5px 10px rgb(206, 204, 204);
  background-color: white;
  width: 21.5rem;
  height: 28rem;
  margin-right: 2rem;
  border-radius: 7px;
}

.div2 .car5{
  margin-bottom: 6rem;
  position: relative;
  /* background-color: red; */
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  /* box-shadow: 1px 1px 1px 1px black; */
  /* width: 70rem; */
  /* height: 13rem; */
}
  .car5 .a{
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: #8d8c8c  ;
    opacity: 0.9;
    color: white;
    top: 0;
    margin-top: -5rem;
    left: 0;
    right: 0;
    text-align: center;}

.car5 .ca{
  box-shadow: 5px 5px 5px 10px rgb(206, 204, 204);
  background-color: white;
  width: 21.5rem;
  height: 28rem;
  margin-right: 2rem;
  border-radius: 7px;
}

.car1 .ca .gg{
  /* display: block; */
  position: relative;
}
.car1 .ca .gg .price{
  display: inline-block;
  padding: 1.7rem;
  bottom: -1.5rem;
  right: 13px;
  color: white;
  background-color: #202b28;
  position: absolute;
  border-radius: 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.car1 .ca .gg img{
  width: 21.5rem;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.car1 .ca .gt{
  padding-left: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ca .gt .finance{
  color: #303f3b;
  font-weight: bold;
}
.ca .gt .finance a{
  color: #303f3b;
  margin-right: 8px;
  text-decoration: none;
}
.ca .gt h3{
  margin-top: -3px;
  
}
.ca .gt h3 a{
  color: #202b28;
  text-decoration: none;
}
.ca .gt .Reviews{
  margin-top: -5px;
  color: #47504e;
  font-weight: bold;
}
.gt .r{
  width: 21.4rem;
  margin-left: -2rem;
  margin-top: 2rem;
}
.ca .gt .subp{
  display: flex;
  color: #47504e;
  font-weight: bold;
  margin-top: -2px;
}
.ca .gt .subp .Student{
  margin-left: 7rem;
}

.car2 .ca .gi{
  /* display: block; */
  position: relative;
}

.car2 .ca .gi .pric{
  display: inline-block;
  padding: 1.7rem;
  bottom: -1.5rem;
  right: 13px;
  color: white;
  background-color: #202b28;
  position: absolute;
  border-radius: 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.car2 .ca .gi img{
  width: 21.5rem;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.car2 .ca .gb{
  padding-left: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ca .gb .f{
  color: #303f3b;
  font-weight: bold;
}
.ca .gb .f a{
  color: #303f3b;
  margin-right: 8px;
  text-decoration: none;
}
.ca .gb h3{
  margin-top: -3px;
  
}
.ca .gb h3 a{
  color: #202b28;
  text-decoration: none;
}
.ca .gb .Rev{
  margin-top: -5px;
  color: #47504e;
  font-weight: bold;
}
.gb .rr{
  width: 21.4rem;
  margin-left: -2rem;
  margin-top: 2rem;
}
.ca .gb .subpp{
  display: flex;
  color: #47504e;
  font-weight: bold;
  margin-top: -2px;
}
.ca .gb .subpp .Studentt{
  margin-left: 7rem;
}
